
<div class="login-container">
	<div *ngIf="!loading" class="center">
		<h1>Sing Up</h1>
		<form (ngSubmit)="singup()" [formGroup]="registrarUsuario">
		  <div class="inputbox">
			<input type="email" formControlName="email" required="required" title="email">
			<span>Email</span>
		  </div>
		  <div class="inputbox">
			<input type="password" formControlName="password"  required="required" title="password">
			<span>Password</span>
		  </div>
          <div class="inputbox">
			<input type="password" formControlName="repetirPassword"  required="required" title="Repeat password">
			<span>Repeat password</span>
		  </div>
		  <div class="button">
			<button class="btn" >Sing up</button>
		  </div>
          <div class="rutas">
            <a routerLink="/login">Return</a>
        </div>
		</form>
	  </div>
</div>







