<div *ngIf="userLoggedIn" class="add-task-container">
  <div class="add-tas-conten-container">
    <form  (submit)="addTask()" #taskForm="ngForm">

      <div class="title-add-task">
        <label>Title:</label>
        <input [(ngModel)]="newTask.title" name="title" required>
      </div>
  
      <div class="select-add-task">
        <label>Priority:</label>
        <select [(ngModel)]="newTask.priority" name="priority" required>
          <option value="Low">Low</option>
          <option value="Half">Half</option>
          <option value="High">High</option>
        </select>
      </div>
  
      <div class="date-add-task">
        <label>Due date:</label>
        <input type="date" [(ngModel)]="newTask.dueDate" name="dueDate" required>

      </div>
  
      <div class="reminder-add-task">
        <label>Reminder:</label>
        <input type="checkbox" [(ngModel)]="newTask.reminder" name="reminder">
      
      </div>
  
    <div class="button-add-task">
      <button type="submit" [disabled]="taskForm.invalid">Add task</button>
    </div>
  
    </form>
  
  </div>
</div>

  <div *ngIf="!userLoggedIn" class="message">
    <h3>Sign in to access more options  <span> <a href="/login">Login</a></span></h3>
  </div>
  

  
  
  
  
  
  
  