<form *ngIf="userLoggedIn" (submit)="addTask()" #taskForm="ngForm">
    <label>Title:</label>
    <input [(ngModel)]="newTask.title" name="title" required>
    <br>
    <label>Priority:</label>
    <select [(ngModel)]="newTask.priority" name="priority" required>
      <option value="Low">Low</option>
      <option value="Half">Half</option>
      <option value="High">High</option>
    </select>
    <br>
    <label>Due date:</label>
    <input type="date" [(ngModel)]="newTask.dueDate" name="dueDate" required>
    <div *ngIf="taskForm.controls['dueDate']?.invalid && taskForm.controls['dueDate']?.touched">
      <p>Expiration date is required.</p>
    </div>
    <br>
    <label>Reminder:</label>
    <input type="checkbox" [(ngModel)]="newTask.reminder" name="reminder">
    <br>
    <button type="submit" [disabled]="taskForm.invalid">Add task</button>
  </form>


  <div *ngIf="!userLoggedIn" class="message">
    <h1>Sign in to access more options  <span> <a href="/login">Login</a></span></h1>
  </div>
  

  
  
  
  
  
  
  