.table{
  width: 700px;
}
.table-container{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.message{
  margin-top: 40px;
  text-align: center;
}


td,th{
  text-align: center;
}
.list-tast-container{
  display: flex;
}
.status-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-task::before {
  padding: 5px 10px 5px 10px;
    background-color: green;
    content: 'Task done';
    font-weight: bold;
  }
  
  .pending-task::before {
    padding: 5px 10px 5px 10px;
    background-color: red;
    content: 'Task incomplete';
    font-weight: bold;
  }
  td button{
    border: none;
    border-radius: 10px;
  }
  td button:nth-child(1){
   background-color: rgb(187, 60, 60);
  }
  td button:nth-child(2){
    margin-left: 5px;
    background-color: rgb(40, 107, 66);
   }

   td button:nth-child(1):hover{
    color: aliceblue;
    background-color: rgb(218, 72, 72);
   }
   td button:nth-child(2):hover{
    color: aliceblue;
    background-color: rgb(54, 145, 89);
   }