<div class="table-container">
<table  class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">Activity</th>
      <th scope="col">Priority</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
      <th *ngIf="isEmailVerified" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks$ | async">
      <th>{{task.title}}</th>
      <td>{{task.priority}}</td>
      <td>{{task.dueDate}}</td>
      <td> 
        <div class="status-container">
          <div [ngClass]="{ 'completed-task': task.completed, 'pending-task': !task.completed }"></div>
        </div>
      </td>
      <td *ngIf="isEmailVerified" >
        <button  (click)="deleteTask(task)">Delete</button>
        <button  (click)="markTaskAsCompleted(task)">Mark as done</button>
      </td>
    </tr>
  </tbody>
</table>

</div>


<div *ngIf="!isEmailVerified"  class="message">
  <h3>Sign in to access more options <span> <a href="/login">Login</a></span></h3>
</div>


